<table id="{{id}}">
    <thead>
    {{~#each headerRows}}
        <tr>
        {{~#each this}}
            <th colspan="{{width}}">
                {{~#if node}}{{#if node.category}}{{node.category}}{{else}}<span class="na">NA</span>{{/if}}{{/if}}
                {{~#if bottomBar}}<div class="hbar"></div>{{/if~}}
            </th>
        {{~/each}}
        </tr>
    {{/each}}
    </thead>
    <tbody>
    {{#each bodyRows}}
        <tr>
        {{~#each this}}
            <td {{#if this}}data-bib-id="{{id}}"{{/if}} class="ref-cell{{#unless url}} no-url{{/unless}}" >
                <div class="ref-highlight"></div>
                <span class="ref-entry">
                {{#if this}}{{#if url}}<a href={{url}}>{{/if ~}}
                    <span class="ref-content">{{authors/0/lastName}} {{biblio.entryTags.year}}</span>
                {{~#if url ~}}</a>{{/if}}{{/if}}
                </span>
            </td>
        {{~/each}}
        </tr>
    {{~/each}}
    </tbody>
</table>